<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%>
        <h4>Login </h4>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" class="<%=validationErrors.find(e=>e.param==='email') ? 'invalid':''%>" name="email" id="email" value="<%=oldInput.email%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="<%=validationErrors.find(e=>e.param==='password') ? 'invalid':''%>" name="password" id="password" value="<%=oldInput.password%>">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;" class=" waves-effect waves-light btn" type="submit">Login</button>
        </form>
        <div style="margin-left:220px;margin-top: 20px;">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>