<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4>New Password</h4>
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%>
        <form class="login-form" action="/new-password" method="POST">
            
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;" class=" waves-effect waves-light btn" type="submit">Update Password</button>
        </form>
        
    </main>
<%- include('../includes/end.ejs') %>