<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4>Reset</h4>
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;" class=" waves-effect waves-light btn" type="submit">Reset Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>