<%- include('../includes/head.ejs') %>
   
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4>Signup</h4>
        <%if(errorMessage){%>
            <div><%=errorMessage%></div>
       <%}%> 
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%=validationErrors.find(e=>e.param==='email') ? 'invalid':''%>" type="email" name="email" id="email" value="<%=oldInput.email%>" >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input  class="<%=validationErrors.find(e=>e.param==='password') ? 'invalid':''%>" type="password" name="password" id="password" value="<%=oldInput.password%>" >
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input class="<%=validationErrors.find(e=>e.param==='confirmPassword') ? 'invalid':''%>" type="password" name="confirmPassword" id="confirmPassword" value="<%=oldInput.confirmPassword%>" >
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;" class=" waves-effect waves-light btn" type="submit">SignUp</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>