<div class="backdrop"></div>
<header class="main-header">
<nav>
    <div class="nav-wrapper">
      <a href="/homepage" class="brand-logo"><i class="material-icons" style="margin-left:50px">dvr</i>Expense Manager</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%if(!isAuthenticated){%>
        <li><a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a></li>
        <li> <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a></li>
        <%}else{%>
            <li><a href="/add-account">Add new account</a></li>
            <li><a href="/add-transaction">Add Transaction</a></li>
            <li><a href="/logout">Logout</a></li>
        <%}%>
      </ul>
    </div>
  </nav>
</header>