<%- include("includes/head.ejs")%>
    <body>
        
        <%-include("includes/navigation.ejs")%>
    <h1>Some Error occured</h1>
    <p>We're working on fixing this,sorry for the incovenience</p>
    
<%-include("includes/end.ejs")%>