<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <nav>
    <div class="nav-wrapper">
        <a href="/homepage" class="brand-logo"><i class="material-icons">dvr</i>Expense Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a  href="/account/<%=account._id%>/users">Users</a></li>
            <li><a  href="/account/<%=account._id%>/add-user">Add user</a></li>
            <li><a href="/homepage">Back</a></li>
        
      </ul>
    </div>
    </nav>

    <main style="width:30%;margin-left:auto;margin-right: auto;">
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%> 
        
            <h1>Transactions</h1>
            <form action="/account/<%=account._id%>/transactions" method="POST"><input type="hidden" name="type" value="Income"><input type="hidden" name="_csrf" value="<%=csrfToken%>"><button type="submit" class=" waves-effect waves-light btn" style="width:300px;background-color: #ee6e73;margin-top:50px;margin-left:30px;">Income</button></form>
            <form action="/account/<%=account._id%>/transactions" method="POST"><input type="hidden" name="type" value="Expense"><input type="hidden" name="_csrf" value="<%=csrfToken%>"><button type="submit" class=" waves-effect waves-light btn" style="width:300px;background-color: #ee6e73;margin-top:50px;margin-left:30px">Expense</button></form>
            <form action="/account/<%=account._id%>/transactions" method="POST"><input type="hidden" name="type" value="Transfer"><input type="hidden" name="_csrf" value="<%=csrfToken%>"><button type="submit" class=" waves-effect waves-light btn" style="width:300px;background-color: #ee6e73;margin-top:50px;margin-left:30px">Transfer</button></form>
    </main>
<%- include('../includes/end.ejs') %>