<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4 style="margin-top: 50px;">Add an account</h4>
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%> 
        <form class="login-form" action="/add-account" method="POST">
        <label for="name">Account Name</label>
                <input type="text" name="name" id="name" >
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;margin-bottom: 20px;" class=" waves-effect waves-light btn" type="submit">Add</button>
           
        </form>
        <a style="color:#ee6e73;width:50%;margin-left:260px;" href="/homepage">Go Back</a>
       
    </main>
<%- include('../includes/end.ejs') %>