<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/homepage" class="brand-logo"><i class="material-icons">dvr</i>Expense Manager</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/account/<%=account._id%>">Back</a></li>
          </ul>
        </div>
    </nav>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4>Add User</h4>
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%> 
        <form action="/account/<%=account._id%>" method="POST">
        
        <label>User Email</label>
        <select class="browser-default" name="email">
                    <option value="" disabled selected>Choose your User</option>
                <%users.forEach(function(user){%>
                    <%if(user._id.toString()!==userId.toString() ){%>
                        <option value="<%=user.email%>" name="email"><%=user.email%></option>
                    <%}%>
                   
                <%})%>
        </select>
       
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button style="background-color: #ee6e73;width:100%;margin-top: 20px;" class=" waves-effect waves-light btn" type="submit">Add</button>
          
          </form>
        
    </main>
<%- include('../includes/end.ejs') %>