<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:30%;margin-right: auto;margin-left: auto;">
        <h4>Edit Transaction</h4>
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%> 
        <form class="login-form" action="/transaction/<%=transaction._id%>?_method=PUT" method="POST">
            
            
            <label>Transaction account</label>
            <select class="browser-default" name="account">
                <option value="" disabled selected>Choose transaction account</option>
                <%[...user.account].forEach(function(account){%>
                    <option value="<%=account.name%>" name="account">
                        <%=account.name%>
                    </option>
                <%})%>
                
                
        </select>
            <label>Transaction type</label>
            <select class="browser-default" name="type">
                    <option value="" disabled selected>Choose transaction type</option>
                    <option value="Income" name="type">Income</option>
                    <option value="Expense" name="type">Expense</option>
                    <option value="Transfer" name="type">Transfer</option>
            </select>
            <label for=category>Category</label>
                <input type="text" name="category" id="category" value="<%=transaction.category%>">
            
            <label for=amount>Amount</label>
                <input type="number" name="amount" id="amount" value="<%=transaction.amount%>">
            <input type="hidden" name="transactionId" value="<%=transaction._id%>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button style="background-color: #ee6e73;width:100%;margin-bottom: 20px;" class=" waves-effect waves-light btn" type="submit">Edit</button>
        </form>
        <a style="color:#ee6e73;width:50%;margin-left:260px;" href="/homepage">Go Back</a>
       
    </main>
<%- include('../includes/end.ejs') %>