<%-include("../includes/head.ejs")%>
    <body>
        
        <%- include('../includes/navigation.ejs') %>
        <main>
              
            
              <%if (accounts.length<=0){%> 
                <h1>Nothing there!!</h1>
                <% } else { %>
                    <table class="responsive-table" style="width:80%;margin-left:auto; 
                    margin-right:auto;">
                        <thead>
                            <tr>
                                <th>Account_id</th>
                                <th>Account_name</th>
                                <th>Actions</th>
                            </tr>
                          </thead>
                        <tbody>
                            <% accounts.forEach(account=>{%>
                                <tr>
                                <td>
                                    <h5># <%=account._id%></h5>
                                </td>
                                <td>
                                    <a href="/account/<%=account._id%>"><%=account.name%></a>
                                </td>
                                <td>
                            
                                <a href="/account/<%=account._id%>/edit"><button style="background-color: #ee6e73;" class=" waves-effect waves-light btn">Edit</button></a>
                               
                                <form action="/account/<%=account._id%>/?_method=DELETE" method="POST" style="display:inline;"> 
                                    <input type="hidden" name="accountId" value="<%=account._id%>">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button class=" waves-effect waves-light btn" type="submit" style="background-color: #ee6e73;">Delete</button>
                                </form>
                              
                                </td>
                                </tr>
                                
                            <% }); %>
                            
                        </tbody>
                        
                    </table>
                    <% } %>

                      

        </main>
        
<%-include("../includes/end.ejs")%>