<%-include("../includes/head.ejs")%>
    <body>
        <%-include("../includes/navigation.ejs")%>
        <main style="text-align: center;">
            <h1 style="margin-top:200px">Your Expense Manager</h1>
        </main>
        
<%-include("../includes/end.ejs")%>