<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style="width:80%;margin-right: auto;margin-left: auto;">
        <%if(errorMessage){%>
             <div><%=errorMessage%></div>
        <%}%> 
        <h4>Transactions</h4>
        <%if(account.transactions.length<=0){%>
                <h3>No transaction yet</h3>
        <%}else{%>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Account name</th>
                        <th>Transaction Type</th>
                        <th>Transaction category</th>
                        <th>Amount</th>
                        <th>Transaction time</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
            <%[...account.transactions].forEach(function(transaction){%>
           
            <%if(transaction.group===type){%>
            
                <tbody>
                    <tr>
                            <td><%=transaction.account%></td>
                            <td><%=transaction.group%></td>
                            <td><%=transaction.category%></td>
                            <td><%=transaction.amount%></td>
                            <td><%=transaction.created.toDateString()%></td>
                            <td><a href="/transaction/<%=transaction._id%>/edit-transaction"><button style="background-color: #ee6e73;" class=" waves-effect waves-light btn">Edit</button></a>
                            
                                <form action="/transaction/<%=transaction._id%>/?_method=DELETE" method="POST" style="display:inline;"> 
                                        <input type="hidden" name="transactionId" value="<%=transaction._id%>">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button style="background-color: #ee6e73;" class=" waves-effect waves-light btn" type="submit">Delete</button>
                                </form>
                            </td>
                    </tr>
                <%}%>
            <%})%>
            
                        
                   
                
               </tbody>
              </table>
           
        <%}%>
        
    </main>
<%- include('../includes/end.ejs') %>