<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/homepage" class="brand-logo"><i class="material-icons">dvr</i>Expense Manager</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/account/<%=account._id%>">Back</a></li>
          </ul>
        </div>
    </nav>
    <main style="width:70%;margin-right: auto;margin-left: auto;">
     <h3>Users in your account</h3>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Other Users</th>
            </tr>
          </thead>
        <tbody>
        <tr>
        <td>
            <%=currentUser.email%>
        </td>
       
        <td>
            <%[...account.users].forEach(function(user){%>
            <p><%=user.email%></p>
            <% }); %>
        </td>
        
        </tr>
      </tbody> 
    </table>
    </main>